<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><img src="../../assets/logo.jpg" alt="UX Template"/></a>
    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" routerLink="/home" routerLinkActive="text-yellow">Home</a></li>
      </ul>
      <ul class="nav navbar-nav">
        <form class="form-inline">
            <a href="mailto:rich@eodice.com" class="btn btn-danger" role="button">Help</a>
        </form>
      </ul>
    </div>
</nav>