.bg-blue {
    background-color: slateblue;
}

.text-white {
    color: white;
}

.text-blue {
    color: slateblue;
}

.text-green { 
    color: lightgreen;
}

.text-grey {
    color: grey;
}

.text-yellow {
    color: yellow;
}

.text-orange {
    color:orange;
}

.navbar {
    border-radius: 5px;
    margin-bottom: 10px;
}

.navbar-nav > li{
    padding-left:10px;
    padding-right:10px;
    font-size: 125%;
}

body {
    background-color: lightgray;
    font-size: 110%;
}

.card {
    border-radius: 10px;
}

.center {
    text-align: center;
}

.spacer {
    padding-top: 10px;
}

.subtext {
    padding-top: 0px;
    font-size: 75%;
}