<div class="row">
    <div class="col-sm-4">
        <div class="card text-blue">
            <div class="card-body">
                <h5 class="card-title center">Card 1</h5>
                <p class="card-text">
                    Stuff goes here
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card text-blue">
            <div class="card-body">
                <h5 class="card-title center">Card 2</h5>
                <p class="card-text">
                    Stuff goes here
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card text-blue">
            <div class="card-body">
                <h5 class="card-title center">Card 3</h5>
                <p class="card-text">
                    Stuff goes here
                </p>
            </div>
        </div>
    </div>
</div>

